$color-primary: #4219dc;
$color-secondary: #973af1;
$color-tertiary: #f7f8fe;
$color-gray : #4a4a4a;
$color-grey-smoke: #262626;
$color-grey-dark: #4C4D5F;
$color-grey-medium: #424242;
$color-grey-light: #F8F8F8;
$color-yellow: #FFC400;
$color-black: #000;
$color-white: #FFF;
$color-blue: #1FAEEF;
$color-green-blue: #3366cc;
$color-blue-light: #92BEE4;
$color-blue-dark: #353d57;
$color-blue-grey: #39415B;
$color-purple: #603CE6;
$color-aquamarine: #33FFE0;
$color-danger:  #eb445a;
$color-success:  #2dd36f;
$color-yellow-light: #ff980014;
