.section{
    &-slider{
        background: linear-gradient( 90deg, $color-primary, $color-secondary);
        padding-bottom: 4rem;
        &_info{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;

            @media (max-width: 768px){
                align-items: center;
                text-align: center;
            }
        }

        &_image{
            height: 300px;
            width: 300px;
            display: block;
            margin: auto;;
            clip-path: circle(50% at 50% 50%);
            background-image: url(../images/foto.jpg);
            background-size: cover;
            background-position: center;
        }

        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 50px;
            position: absolute;
            background: $color-white;
            left: 0;
            bottom: 4rem;
            clip-path: polygon(0 5%, 0% 100%, 163% 100%);
        }
    }

    &-about{
        &_list{
            margin-top: 1.5rem;
            list-style: none;
            padding: 0;
        }

        &_item{
            margin: 0rem 0.5rem 2rem;
        }

        &_social{
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0;
        }

        &_red{
            cursor: pointer;
            margin: .5rem;
            
            i{
                font-size: 2rem;
                background: -webkit-linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.8s;
                
            }

            &:hover{
                animation: rotation 0.8s forwards;
            }
        }

        &_skills {
            border: 3px solid $color-primary;
            border-radius: 30px;
            padding: 2rem;

            .progress-bar{
                font-family: 'Poppins';
                background: -webkit-linear-gradient($color-primary, $color-secondary);
            }

            &-item{
                margin-bottom: 1rem;
            }
        }
    }
}